h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2 span {
    background: #fff;
    margin: 0 15px;
  }
  h2:before,
  h2:after {
    background: black;
    height: 2px;
    flex: 1;
    content: '';
  }
  h2.left:after {
    background: none;
  }
  h2.right:before {
    background: none;
  }