<!-- <hr>
<h1 style="text-align: center;">Update User Details</h1>
<hr>

<div class="container">
    <div class="card card-container">
        <label>Name</label>
        <input type="text" readonly #name="ngModel" [(ngModel)]="user.name" class="form-control" name="name" required>
    </div>

    <label>Username</label>
    <input type="text" readonly #userName="ngModel" [(ngModel)]="user.username" class="form-control" username="username"
        required>

    <fieldset class="form-group">
        <label>Email</label>
        <input type="text" #email="ngModel" [(ngModel)]="user.email" class="form-control" email="email" required>
    </fieldset>

    <fieldset class="form-group">
        <label for="roles">Roles</label>
        <select #userRoles="ngModel" [(ngModel)]="user.roles" class="form-control" id="roles" required>
            <option>ROLE_USER</option>
            <option *ngFor="let user of roles" [value]="user.name">
                {{user.name}}
            </option>
        </select>
    </fieldset>

    <button type="submit" class="btn btn-success">Save</button>
</div>


 -->

<div class="cards">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">User Information</h3>
    <br>
    <br>
    <div class="container bootstrap snippet">
        <div class="panel-body inf-content">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-6">
                    <br>
                    <strong>User Information</strong><br>
                    <div class="table-responsive">
                        <table class="table table-condensed table-responsive table-user-information">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-user  text-primary"></span>
                                            Username
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        <strong> <input type="text" readonly #userName="ngModel"
                                                [(ngModel)]="user.username" class="form-control" username="username"
                                                required></strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                            Email
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        <input type="text" readonly #email="ngModel" [(ngModel)]="user.email"
                                            class="form-control" email="email" required>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            Roles
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        <select multiple #userRoles="ngModel" [(ngModel)]="user.roles"
                                            class="form-control" name="roles" id="roles">
                                            <option *ngFor="let user of roles" [value]="user">
                                                {{user.name}}
                                            </option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            Department
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        <select class="form-control" placeholder="department" [value]="department"
                                            [(ngModel)]="user.department" dept="department">
                                            <option value="JAVA">JAVA</option>
                                            <option value="IOS">IOS</option>
                                            <option value="PYTHON">PYTHON</option>
                                            <option value="ANDROID">ANDROID</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="container">
                            <button type="submit" class="btn btn-success" style="margin-left: 80px;"
                                (click)="updateUser()"><i class="fa fa-database"></i> Save</button>
                            <button type="submit" class="btn btn-danger" style="margin-left: 50px;"
                                (click)="CancelRoom()"><i class="fa fa-close"></i> Cancel</button>

                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>