<div *ngIf="isLoggedIn; else loggedOut" class="container">
    <header class="jumbotron">
        <h1 class="display-5">
            <strong>{{username | titlecase }}</strong>, Welcome to Book Metting Room.
        </h1>
    </header>
</div>

<ng-template #loggedOut>
    <div class="container">
        <div class="card card-container">
            <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" id="profile-img" class="profile-img-card" />
            <form name="form-signin" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                    {{errorMessage}}
                </div>
                <div class="form-group" [ngClass]="{'has-error':f.submitted &&!password.valid}">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Password" class="form-control input-text-custom"
                        id="password" [(ngModel)]="form.password" #password="ngModel" required />
                    <div class="alert alert-danger" *ngIf="f.submitted && !password.valid">
                        Password is required.
                    </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin form-submit-button">Reset Password</button>
            </form> 
            <a [routerLink]="['/auth/login']" class="btn btn-link">Back</a>
        </div>
    </div>
</ng-template>